params {
  help = false

  // Output directory
  outdir = './variant-results'

  // Either input reads as a samplesheet (csv) with headings "sample","bam" or a glob pattern
  samplesheet = false
  bam = false
  // Reference genome
  reference = false

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'
  depth=1000000

  error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
  conda {
    conda.enabled = true
  }
}

process {
  publishDir = "$params.outdir"
  withName: SAMTOOLS_FAIDX {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_faidx", mode: 'copy']
  }
  withName: BCFTOOLS_MPILEUP {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/bcftools_mpileup", mode: 'copy']
    ext.args = [
        "--max-depth ${params.depth}",
        "--max-idepth ${params.depth}",
        "--per-sample-mF",
        "--count-orphans",
        "--no-BAQ",
        "--min-BQ 13",
        "--min-MQ 30",
        "--annotate AD,ADF,ADR,DP,SP"
    ].join(' ')

    ext.args2 = [
        "-mv",
        "-A",
        "--variants-only",
        "--keep-alts",
        "--keep-masked-ref"
    ].join(' ')
  }
  withName: BCFTOOLS_FILLTAGS {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/bcftools_filltags", mode: 'copy']
  }
  withName: BCFTOOLS_NORM {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/bcftools_norm", mode: 'copy']
    ext.args = "--multiallelics -any -Oz --check-ref s"
  }
  withName: BCFTOOLS_INDEX {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/bcftools_index", mode: 'copy']
    ext.args = "-t"
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
}

manifest {
    name = 'j23414/bam-variants'
    description = "A modular workflow for generating a table of variants from alignment information."
    version = "0.0"
    mainScript = 'main.nf'
}